{% extends 'admins_temp/admin-base.html' %}

{% load static %}

{% block title %} Ameen-AdminRoutes {% endblock %}

{% block content %} 

<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
        {% for route_detail in route_details %}
            <div class="col-sm-12 col-md-6 col-xl-4">
                <div class="h-100 bg-white shadow rounded p-4">
                    <h4 class="mt-3 mb-0 text-center">{{ route_detail.route.username }}</h4>
                    {% if trip.exists %}
                        {% for i in trip %}
                            {% if i.route == route_detail.route %}
                                <p class="text-center text-success"><i class="fas fa-dot-circle "></i> Active</p>
                            {% else %}
                                <p class="text-center text-danger"><i class="fas fa-dot-circle "></i> Not Active</p>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p class="text-center text-danger"><i class="fas fa-dot-circle "></i> Not Active</p>
                    {% endif %}
                    <div class="d-flex align-items-center py-3">
                        <div class="w-100 ms-3">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-3">Total Jars</h6>
                                <small>{{ route_detail.total_jars }}</small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-3">Jars Sold</h6>
                                <small>{{ route_detail.total_jars_sold }}</small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-3">Amount</h6>
                                <small>{{ route_detail.total_sales_amount }}</small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-3">Expenses</h6>
                                <small>{{ route_detail.total_expenses }}</small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-3">Total Revenue</h6>
                                <small>{{ route_detail.total_revenue }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- Blank End -->

<script>
    var mylink=document.getElementById("admin_routes")
    mylink.classList.add("active")
</script>

{% endblock%}