{% extends 'admins_temp/admin-base.html' %}

{% load static %}

{% block title %} Ameen-AdminOldBalances {% endblock %}

{% block content %} 

<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row bg-light rounded align-items-center justify-content-center mx-0 p-lg-5 p-3">
        <div class="table-responsive">
            <h3 class="text-center mb-5 mt-3">Old Balances of All Routes</h3>

            {% for account in accounts %}
                <a href="{% url 'admin_old_balances_single_view' account.id %}" class="col-sm-12 col-md-6 col-xl-4">
                    <div class="h-100 bg-white shadow rounded p-4 mt-5 mb-5">
                        <h4 class="mt-3 mb-0 text-center">{{ account.username }} route</h4>
                    </div>
                </a>
            {% endfor %}
            
        </div>
    </div>
</div>
<!-- Blank End -->

<script>
    var mylink=document.getElementById("admin_old_balances")
    mylink.classList.add("active")
</script>

{% endblock %} 