{% extends 'admins_temp/admin-base.html' %}

{% load static %}

{% block title %} Ameen-AdminOldBalances {% endblock %}

{% block content %} 

<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row bg-light rounded align-items-center justify-content-center mx-0 p-lg-5 p-3">
        <div class="table-responsive">
            <h3 class="text-center mb-5 mt-3">Stores and Old Balances</h3>
            {% for account in accounts %}
                <h4 class="text-center mb-3">{{ account.username }}'s Stores</h4>
                <table class="table text-start align-middle table-bordered table-hover mb-4">
                    <thead>
                        <tr class="text-dark">
                            <th scope="col">Store Name</th>
                            <th scope="col">Old balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for store in account.store_set.all %}
                        <tr>
                            <td>{{ store.name }}</td>
                            <td>{{ store.old_balance }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="1" class="text-start"><strong>Total</strong></td>
                            <td>{{ total_amount }}</td>
                        </tr>
                    </tfoot>
                </table>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Blank End -->

{% endblock %} 