{% extends 'admins_temp/admin-base.html' %}

{% load static %}

{% block title %} Ameen-AdminTransactions {% endblock %}

{% block content %} 

<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row bg-light rounded align-items-center justify-content-center mx-0">
      <div class="main-panel mt-5 mb-5">
        <div class="content-wrapper mb-5">
            <h2 class="mx-md-5 mb-4">Transactions</h2>
            <div class="col-sm-12 justify-content-center">
                {% for sale in sales %}
                <div class="bg-white rounded shadow p-4 mb-3 mx-md-5 text-center">
                    <h6>{{ sale.store.name }} Payed ₹{{ sale.amount|floatformat:0 }} for {{ sale.jars }} Jars on {{ sale.date|date:"F j" }}</h6>
                </div>
                {% endfor %}
                <div class="text-end mx-md-5">
                    <a href="{% url 'transaction_listing' %}" class="text-primary">view all</a>
                </div>
            </div>
        </div>
        <div class="content-wrapper mb-5">
            <div class="d-flex justify-content-between">
                <h2 class="mx-md-5 mb-4">{{ current_month }} Statistics</h2>
                <select id="monthDropdown" class="form-select mx-md-5 w-25 mb-5" onchange="changeMonth(this)">
                    {% for month in months %}
                        <option value="{{ month }}" {% if month == current_month %}selected{% endif %}>{{ month }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row justify-content-center mx-md-5">
                <div class="col-sm-12 col-md-6 col-xl-4 mb-4">
                    <div class="h-100 bg-white shadow rounded p-4">
                        <h4 class="mt-3 mb-0 text-start text-decoration-underline">Income</h4>
                        <div class="d-flex align-items-center py-3">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-3">Kottakkal</h6>
                                    <small>₹ 23424323</small>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-3">Manjeri</h6>
                                    <small>₹ 23424323</small>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-3">Chenguvatti</h6>
                                    <small>₹ 23424323</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4 mb-4">
                    <div class="h-100 bg-white shadow rounded p-4">
                        <h4 class="mt-3 mb-0 text-start text-decoration-underline">Expences</h4>
                        <div class="d-flex align-items-center py-3">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-3">Kottakkal</h6>
                                    <small>₹ 23424323</small>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-3">Manjeri</h6>
                                    <small>₹ 23424323</small>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-3">Chenguvatti</h6>
                                    <small>₹ 23424323</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4 mb-4">
                    <div class="h-100 bg-white shadow rounded p-4">
                        <h4 class="mt-3 mb-0 text-start text-decoration-underline">Net Income</h4>
                        <div class="d-flex align-items-center py-3">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-3">Kottakkal</h6>
                                    <small>₹ 23424323</small>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-3">Manjeri</h6>
                                    <small>₹ 23424323</small>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-3">Chenguvatti</h6>
                                    <small>₹ 23424323</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="h-100 bg-white shadow rounded p-4">
                        <h4 class="mt-3 mb-0 text-start text-decoration-underline">Total Summery</h4>
                        <div class="d-flex align-items-center py-3">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-3">Income</h6>
                                    <small>₹ 23424323</small>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-3">Expences</h6>
                                    <small>₹ 23424323</small>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-3">Net Income</h6>
                                    <small>₹ 23424323</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
      </div>
    </div>
  </div>
<!-- Blank End -->

<script>
    var mylink=document.getElementById("admin_transactions")
    mylink.classList.add("active")
</script>

<script>
    var mylink = document.getElementById("admin_transactions")
    mylink.classList.add("active");

    function changeMonth(select) {
        var selectedMonth = select.value;
        console.log("Selected month:", selectedMonth);
    }
</script>

{% endblock%}