{% extends 'admins_temp/admin-base.html' %}

{% load static %}

{% block title %} Ameen-AdminTransactions {% endblock %}

{% block content %} 

<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row bg-light rounded align-items-center justify-content-center mx-0">
      <div class="main-panel mt-5 mb-5">
        <div class="content-wrapper mb-5">
            <h2 class="mx-md-5 mb-4">Transactions</h2>
            <div class="col-sm-12 justify-content-center">
                <div class="bg-white rounded shadow p-4 mb-3 mx-md-5 text-center">
                    <h6>thanseeh payed 1000</h6>
                </div>
                <div class="bg-white rounded shadow p-4 mb-3 mx-md-5 text-center">
                    <h6>aswin payed 1000</h6>
                </div>
                <div class="bg-white rounded shadow p-4 mb-3 mx-md-5 text-center">
                    <h6>thanseeh payed 1000</h6>
                </div>
                <div class="bg-white rounded shadow p-4 mb-3 mx-md-5 text-center">
                    <h6>aswin payed 1000</h6>
                </div>
                <div class="bg-white rounded shadow p-4 mb-3 mx-md-5 text-center">
                    <h6>aswin payed 1000</h6>
                </div>
                <div class="text-end mx-md-5">
                    <a href="" class="text-primary">view all</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<!-- Blank End -->

<script>
    var mylink=document.getElementById("admin_transactions")
    mylink.classList.add("active")
</script>

{% endblock%}