{% extends 'admins_temp/admin-base.html' %}

{% load static %}

{% block title %} Ameen-AdminHome {% endblock %}

{% block content %} 


<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-4">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Sales Amount</p>
                    <h6 class="mb-0">₹ {{ total_sale }}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Expences Amount</p>
                    <h6 class="mb-0">₹ {{ total_expence }}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Revenue Amount</p>
                    <h6 class="mb-0">₹ {{ total_revenue }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->


<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Yearly Stats</h4>
                <div>
                  <canvas id="myChart" class="h-50"></canvas>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                  <h4 class="card-title mb-1">Today's Stats</h4>
                </div>
                <div>
                  <canvas id="myChart2" class="h-50"></canvas>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
<!-- Sales Chart End -->


<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">All Time Route Records</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Date</th>
                        <th scope="col">Route</th>
                        <th scope="col">Jars Sold</th>
                        <th scope="col">Stores</th>
                        <th scope="col">Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    {% for store_details in stores_details %}
                        <tr>
                            <td>{{ store_details.route.date_joined|date:"F j Y" }}</td>
                            <td>{{ store_details.route.username }}</td>
                            <td>{{ store_details.jars_count }}</td>
                            <td>{{ store_details.store_count }}</td>
                            <td>₹ {{ store_details.route_revune }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->


<!-- Widgets Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Calender</h6>
                </div>
                <div id="calender"></div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-xl-8">
            <div class="h-100 bg-light rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Route Status List</h6>
                    <a href="{% url 'admin_routes' %}">Show All</a>
                </div>
                {% for route in routes %}
                    <div class="d-flex mb-2">
                        <div class="form-control bg-transparent">{{ route }}</div>
                        {% if trips.exists %}
                            {% for trip in trips%}
                                {% if route.username in trip.route.username%}
                                    <div class="btn btn-primary ms-2">Active</div>
                                {% else %}
                                    <div class="btn btn-danger ms-2">NotActive</div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="btn btn-danger ms-2">NotActive</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Widgets End -->

<script>
    var mylink=document.getElementById("admin_home")
    mylink.classList.add("active")
</script>

<script>
    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for data in yearly_data %}"{{ data.year }}",{% endfor %}],
            datasets: [{
                label: 'Total Sales Amount',
                data: [{% for data in yearly_data %}{{ data.total_sales_amount }},{% endfor %}],
                backgroundColor: 'rgba(0, 123, 255, 0.8)',
                borderColor: 'rgba(0, 123, 255, 1))',
                borderWidth: 1
            }, {
                label: 'Total Expenses',
                data: [{% for data in yearly_data %}{{ data.total_expenses }},{% endfor %}],
                backgroundColor: 'rgba(0, 123, 255, 0.4)',
                borderColor: 'rgba(0, 123, 255, 1)',
                borderWidth: 1
            }, {
                label: 'Total Revenue',
                data: [{% for data in yearly_data %}{{ data.total_revenue }},{% endfor %}],
                backgroundColor: 'rgba(100, 255, 100, 1)',
                borderColor: 'rgba(255, 206, 86, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

<script>
    var config2 = {
      type: 'polarArea',
      data: {
        labels: ["Today's Income", "Today's Expenses", "Today's Revenue"],
        datasets: [{
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
          ],
          borderWidth: 1,
          data: [
            {{ today_sales_amount }},
            {{ today_expenses }},
            {{ today_revenue }},
          ]
        }]
      },
      options: {
        responsive: true,
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: "Today's Income, Expenses, and Revenue"
        }
      }
    };
  
    var ctx2 = document.getElementById('myChart2').getContext('2d');
    var myChart2 = new Chart(ctx2, config2);
</script>

{% endblock %}