{% extends 'users_temp/base.html' %}

{% load static %}

{% block title %} Neslin-Home {% endblock %}

{% block content %}

<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        
        {% if active_trip.status is None %}

            <div class="d-flex justify-content-center mt-5 mb-5">
                <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-6 mt-5 mb-5">
                    <h1 class="mt-5">Add Jars</h1>
                    <form class="bg-light rounded p-4 p-sm-5 my-4 mx-3 shadow mb-5" action="{% url 'home' %}" method="post">

                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            {{ trip_form.jars }}
                            <label for="floatingInput">Number of Jars</label>
                        </div>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Submit</button>
                    </form>
                </div>
            </div>

        {% else %}

            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Recent Sales</h6>
                <h6 class="mb-0">Remaining Jars: {{ remaining_jars }}</h6>
            </div>
            <div class="bg-glass d-flex container-fluid">
                <input class="form-control border-2 mb-4" id="searchInput" type="search" placeholder="Search">
            </div>            
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-dark">
                            <th scope="col">Store Name</th>
                            <th scope="col">Jar price</th>
                            <th scope="col">Old Balance</th>
                            <th scope="col">Date</th>
                            <th scope="col">Number of Jars</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Delivered</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in store_sales %}
                        <tr>
                            <td>
                                {% if item.sales_records %}
                                    {{ item.store.name }}
                                {% else %}
                                    <a href="{% url 'add_sale' item.store.id %}">{{ item.store.name }}</a>
                                {% endif %}
                            </td>
                            <td> {{ item.store.price_for_jar|floatformat:"0" }} </td>  
                            <td> {{ item.store.old_balance|floatformat:"0" }} </td>                               
                            {% for record in item.sales_records %}
                                <td>{{ record.date|date:"F j, Y" }}</td>
                                <td>{{ record.jars }}</td>
                                <td>{{ record.amount }}</td>
                                <td>
                                    {% if record.is_delivered %}
                                        <input class="form-check-input" type="checkbox" checked disabled>
                                    {% else %}
                                        <input class="form-check-input" type="checkbox" disabled>
                                    {% endif %}
                                </td>
                            {% empty %}
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>
<!-- Recent Sales End -->

<script>
    var mylink=document.getElementById("home")
    mylink.classList.add("active")

    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('searchInput');
        const rows = document.querySelectorAll('.table tbody tr');

        searchInput.addEventListener('input', function() {
            const searchTerm = searchInput.value.toLowerCase();

            rows.forEach(row => {
                const storeName = row.querySelector('td:first-child').textContent.toLowerCase();
                if (storeName.includes(searchTerm)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    });
</script>

{% endblock %}