{% extends 'users_temp/base.html' %}

{% load static %}

{% block title %} Ameen-OldBalance {% endblock %}

{% block content %} 

<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row bg-light rounded align-items-center justify-content-center mx-0 p-lg-5 p-3">

        <div class="table-responsive">
            <h3 class="text-center mb-3 mt-3">Old Balance Details</h3>
            <form method="GET" action="{% url 'old_balance' %}" class="mb-5">
                <div class="bg-glass d-flex container-fluid">
                  <input class="form-control border-0" name="q" type="search" placeholder="Search">
                </div>
            </form>
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Store Name</th>
                        <th scope="col">Old Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for store in stores %}
                    <tr>
                        <td><a href="{% url 'old_balance_confirmation' store.id %}">{{ store.name }}</a></td>
                        <td>₹ {{ store.old_balance }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- Blank End -->

<script>
    var mylink=document.getElementById("old_balance")
    mylink.classList.add("active")
</script>

{% endblock %}
